# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Source code
*.css text eol=lf
*.html text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.json text eol=lf

# Documentation
*.md text eol=lf
*.txt text eol=lf

# Configs
*.yml text eol=lf
*.yaml text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
.env* text eol=lf

# Ensure binary files are not modified
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.ttf binary
*.woff binary
*.woff2 binary 