@font-face {
  font-family: JetBrainsMono;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/JetBrainsMono/JetBrainsMono-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: JetBrainsMono;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/JetBrainsMono/JetBrainsMono-Bold.woff2") format("woff2");
}

/* italic fonts */

@font-face {
  font-family: JetBrainsMono;
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/JetBrainsMono/JetBrainsMono-SemiBoldItalic.woff2") format("woff2");
}
@font-face {
  font-family: JetBrainsMono;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/JetBrainsMono/JetBrainsMono-BoldItalic.woff2") format("woff2");
}
