.tab {
    display: inline-flex;
    overflow: hidden;

    background-color: #393939;
    padding: 0.5rem;
    padding-left: 1rem;
    width: 18rem;
    margin-right: 5px;
    border-radius: 0.25rem 0.25rem 0rem 0rem;

    cursor: pointer;
    user-select: none;
}

.tab:hover {
    background-color: #292929;
}

.tab.selected {
    background-color: #161616;
}

/* .tab.selected:hover {
    background-color: #202020;
} */

.tabList {
    display: flex;
    position: fixed;
    top: 1rem;
    left: 1rem;
}

.thumbnail {
    width: 1.5rem;
    padding-right: 1rem;
}

.closebutton {
    margin-left: auto;
    margin-right: 1rem;

    width: 0.75rem;
    height: 0.75rem;
}