.view {
    position: absolute;
    display: inline-flexbox;
    top: 3.5rem;
    height: 95vh;
    width: 100vw;

    background-color: var(--componentColor);

    box-sizing: border-box;
    border-radius: 0.25rem;

    font-weight: 600;

    white-space: pre;

    padding: 0.5vw;
}

.window {
    position: absolute;
    display: inline-block;
    font-size: 0.80rem;

    height: 80vh;
    width: 45vw;

    margin: 1vw;
    padding: 1vw;

    border-radius: 0.25rem;

    color: var(--fgColor);
}

.window.terminal {
    left: 1vw;
    width: 50vw;
    text-wrap: wrap;
    font-variant-ligatures: none;
    font-family: var(--font-mono);
}

.window.page {
    right: 1vw;
    width: 40vw;
    background-color: var(--darkComponentColor);
}

.terminalInput {
    position: absolute;
    bottom: -2px;
    right: -2px;
    font-size: 1px;
    color: transparent;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    background: transparent;
    font-family: var(--font-mono);
    width: 2px;
    height: 2px;
    user-select: none;
    caret-color: transparent;
}
