.view {
    position: absolute;
    display: inline-flexbox;
    top: 3.5rem;
    height: 95vh;
    width: 100vw;

    box-sizing: border-box;
    border-radius: 0.25rem;

    font-weight: 600;
    background-color: #161616;

    white-space: pre;

    padding: 0.5vw;
}

.window {
    position: absolute;
    display: inline-block;
    font-size: 0.80rem;

    height: 80vh;
    width: 45vw;

    margin: 1vw;
    padding: 1vw;

    border-radius: 0.25rem;
}

.window.terminal {
    left: 1vw;
    width: 50vw;
    text-wrap: wrap;
    font-variant-ligatures: none;
}

.window.page {
    right: 1vw;
    width: 40vw;
    border: 1px solid blue;
}

.terminalInput {
    position: absolute;
    bottom:-0.5vw;
    right:-0.5vw;
    font-size: 0.25px;
    border: none;
    outline: none;
    margin: 0px;
    padding: 0px;
    color: red;
    user-select: none;
    background-color: transparent;
    font-family: 'JetBrainsMono';
}
